/* .box {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid red;
} */

/* .content h2 {
    border: 1px solid red;
}

.content h2:first-child {
    margin-bottom: 10px;
}

.content h2:last-child {
    margin-top: 20px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

/* .box {
    width: 200px;
    height: 200px;
    margin: 30px;
    padding: 30px;
    border: 1px solid red;
    background: green;
} */

/* .box {
    width: 400px;
    margin: 30px auto;
    border: 1px solid red;
    overflow: hidden;
}

.box .col-1 {
    width: 100px;
    height: 50px;
    color: #fff;
    background: green;
    float: left;
}

.box .col-2 {
    width: 150px;
    height: 100px;
    color: #fff;
    background: red;
    float: left;
}

.box p {
    width: 150px;
    height: 30px;
    clear: both;
    background: rgb(244, 140, 216);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

.box {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid red;
    overflow: hidden;
}

.box img {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    shape-outside: circle();
    clip-path: circle();
}
