/* .box {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 5px solid red;
    border-width: 5px 10px 15px 20px;
    border-style: solid dotted dashed double;
    border-color: red green blue violet;
} */
body {
    position: relative;
}

.box {
    width: 0;
    height: 0;
    border: 60px solid;
    border-top-width: 0;
    border-color: transparent transparent blue transparent;
}
