#title {
    color: red;
    font-size: 20px;
}

.heading {
    color: blue;
    font-size: 15px;
}

.content h2 {
    color: green;
    font-size: 30px;
}

.main h2 {
    color: rgb(0, 255, 17);
    font-size: 20px;
}

.box p ~ ul {
    color: rgb(255, 0, 255);
    font-size: 25px;
}
